.footer{
    margin-bottom: 20rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    gap: 0 5rem;
    &__desc{
       max-width: 25rem;
        padding-top: 2rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }
    &__heading{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__item{
        margin-bottom: 2rem;
        color: #272e35; 
    }
    &__link{
        font-size: 1rem;
        display: inline-block;
        color: #272e35; 
        line-height: 1.5;
     
    }
    @media screen and (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap:  2rem;    
    }
    
}
.social__link{
    &:not(:first-child){
        margin-left: 2rem;
    }
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 5px;
}
.bg{
    &-facebook{
        font-size: 2rem;
        background-color: pink;
    }
    &-google{   
        font-size: 2rem;
        background-color: green;
    }
    &-youtube{
        font-size: 2rem;
        background-color: red;
    }
}