html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #868d93;
  line-height: 1.4;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 1.5rem;
}

.btn {
  border-radius: 1rem;
  display: inline-block;
  padding: 2rem 4.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  line-height: normal;
}
.btn--primary {
  color: white;
  background-color: #579aff;
}
.btn--border {
  border: 1px solid;
  color: #868d93;
}

.text {
  font-weight: 300;
  color: #868d93;
  line-height: 1.6;
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block__caption {
  text-transform: uppercase;
  margin-bottom: 4rem;
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  color: #272e35;
}
.block__caption:after, .block__caption::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  width: 2rem;
  background-color: #579aff;
}
.block__caption--left {
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.block__caption--left:after {
  display: none;
}
.block__caption--left:before {
  transform: none;
}
.block__caption::before {
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}
.block__caption:after {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 1.5rem 2rem;
  }
  .block {
    margin-bottom: 5rem;
  }
  .block__caption {
    margin-bottom: 2rem;
  }
  .block__heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .btn {
    padding: 1.5rem 3rem;
  }
}
.header {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #272e35;
  transition: all 0.25s linear;
}
.header__menu--link:hover {
  color: #579aff;
}
.header__logo {
  margin-right: 13rem;
}
.header__auth {
  color: #272e35;
  font-size: 1.5rem;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .header__menu--item:not(:first-child) {
    margin-left: 7.5rem;
  }
  .header .menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    max-width: 30rem;
    background-color: white;
    z-index: 9999;
    display: block;
    border-left: 1px solid #eee;
    padding: 5rem 2.5rem;
    transition: transform 0.25s linear;
    transform: translateX(100%);
  }
  .header__menu__menu.is-active {
    transform: translateX(0);
  }
  .header__menu--link {
    display: block;
    padding: 2rem;
    border-radius: 6px;
  }
  .header__menu--link:hover {
    color: white;
    background-color: #579aff;
  }
  .header__auth {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 2rem;
  }
  .header__logo {
    max-width: 9rem;
    margin-right: 0;
  }
}

.menu__toggle {
  font-size: 2rem;
  margin-left: 1rem;
  color: #579aff;
}

.banner {
  padding-top: 5rem;
  display: flex;
  align-items: center;
}
.banner__iamge {
  width: 65%;
}
.banner__info {
  width: 35%;
}
.banner__heading {
  font-size: 4.5rem;
  color: #272e35;
  font-weight: 600;
  margin-bottom: 2rem;
}
.banner__heading span {
  display: block;
}
.banner__desc {
  margin-bottom: 2rem;
}
.banner__links .btn:first-child {
  padding-right: 4rem;
  padding-left: 3rem;
  margin-right: 3rem;
}
@media screen and (max-width: 1279px) {
  .banner__heading {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  .banner__desc {
    margin-bottom: 3rem;
  }
  .banner__links .btn {
    padding: 2rem 3rem;
  }
  .banner__links .btn:first-child {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    flex-direction: column;
  }
  .banner > * {
    width: 100%;
  }
  .banner__image {
    transform: none;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .banner__heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .banner__heading span {
    display: unset;
  }
  .banner__desc {
    margin-bottom: 1.5rem;
  }
  .banner__image {
    margin-top: 2rem;
  }
}

.work {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
.work__list {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
}
.work__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4.5rem 5rem;
  border-radius: 1rem;
  border: 1px solid #f4f4f4;
  text-align: center;
  line-height: 1.4;
}
.work .work__more {
  transition: all 0.25s linear;
}
.work__item:hover {
  border-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
}
.work__item:hover .work__more {
  color: white;
  background-color: #579aff;
}
.work__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #272e35;
  margin-bottom: 2.5rem;
}
.work__iamge {
  object-fit: cover;
  max-height: 13.5rem;
  margin-bottom: 2.5rem;
}
.work__desc {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1023px) {
  .work__list {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .work__item {
    width: 100%;
    margin-bottom: 2.5rem;
    max-width: 30rem;
  }
}
@media screen and (max-width: 767px) {
  .work__list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 40rem;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .work__list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .work__list > * {
    scroll-snap-align: start;
    width: 100%;
  }
}

.block__heading {
  font-size: 4.5rem;
  font-weight: 600;
  color: #272e35;
}
.block__heading span {
  display: block;
}

.intro {
  display: flex;
  align-items: center;
  padding: 10rem 0 15rem;
}
.intro > * {
  width: 50%;
}
.intro__content {
  padding-right: 13rem;
}
.intro__desc {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}
@media screen and (max-width: 1023px) {
  .intro__content {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding: 2.5rem 0 5rem;
    display: block;
  }
  .intro > * {
    width: 100%;
    padding: 0;
  }
  .intro__desc {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .intro__iamge {
    margin-top: 2.5rem;
  }
}

.plan {
  padding-bottom: 10rem;
}
.plan__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.plan__item {
  padding: 7.5rem 4.5rem;
  border-radius: 1rem;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  position: relative;
}
.plan__label {
  position: absolute;
  top: -3px;
  right: -2px;
  padding: 1.5rem;
  background-color: #ff858d;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 0 2rem;
  font-size: 1.4rem;
}
.plan__name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.plan__price {
  margin-bottom: 2rem;
  border-bottom: 2px solid #eee;
}
.plan__price--symbol {
  vertical-align: top;
}
.plan__price--month {
  font-size: 3.5rem;
  font-weight: 600;
  color: #272e35;
}
.plan__desc {
  margin-bottom: 2rem;
}
.plan__feature--title {
  font-size: 1.5rem;
}
.plan__feature {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.plan__feature--item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.plan__feature--item:last-of-type {
  margin-bottom: 7.5rem;
}
.plan__feature--icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.plan__start {
  margin: auto auto 0;
  display: block;
  width: max-content;
}
.plan .work__more {
  transition: all 0.25s linear;
}
.plan__item:hover {
  border-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
}
.plan__item:hover .work__more {
  color: white;
  background-color: #579aff;
}
@media screen and (max-width: 1023px) {
  .plan__list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 80%;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .plan__list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .plan__list > * {
    scroll-snap-align: start;
    width: 100%;
  }
}

.client {
  padding-top: 2rem;
}
.client__list {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.client__item {
  flex: 1;
  padding: 4.5rem 2.5rem;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 2rem;
}
.client__item:hover {
  border-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
}
.client__iamge {
  width: 12rem;
  height: 12rem;
  border-radius: 10rem;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.client__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.client__position {
  color: #868d93;
  font-size: 14px;
  display: block;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.client__content {
  color: #868d93;
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 3rem;
}
.client__rate {
  font-size: 2rem;
  color: #ffcb46;
  margin: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .client__item:not(:first-child) {
    margin-left: 7rem;
  }
}
@media screen and (max-width: 1023px) {
  .client__list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 40rem;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .client__list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .client__list > * {
    scroll-snap-align: start;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .client__list {
    grid-auto-columns: 80%;
  }
}

.started {
  max-width: 900px;
  margin: 100px auto 70px;
  border-radius: 30px;
  background-color: #fbfbfb;
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.started__comment {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.started__smile {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.started__desc {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}
@media screen and (max-width: 767px) {
  .started__comment, .started__smile {
    max-width: 20%;
  }
  .started__comment {
    position: absolute;
    bottom: 50px;
    left: 32px;
  }
}

.footer {
  margin-bottom: 20rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 0 5rem;
}
.footer__desc {
  max-width: 25rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}
.footer__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer__item {
  margin-bottom: 2rem;
  color: #272e35;
}
.footer__link {
  font-size: 1rem;
  display: inline-block;
  color: #272e35;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
}

.social__link {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 5px;
}
.social__link:not(:first-child) {
  margin-left: 2rem;
}

.bg-facebook {
  font-size: 2rem;
  background-color: pink;
}
.bg-google {
  font-size: 2rem;
  background-color: green;
}
.bg-youtube {
  font-size: 2rem;
  background-color: red;
}

/*# sourceMappingURL=index.css.map */
